<p>
  <strong>Comment#<%= comment.id %>: <%= link_to 'Delete', [comment.article, comment], :confirm => 'Are you sure?', :method => :delete %></strong>
  <%= comment.content %><br>
  by:  <%= User.find(comment.user_id).email %>
</p>
<hr>
