// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.categories-header{
  background-color: rgba(211, 195, 219, 0.665);
  padding: 3rem;
}
.categories-table{
  background-color: rgb(211, 195, 219);
}
