<div class="categories-header p-5">
  <h1>Categories</h1>
  <%= render 'categories/list' %>
  <br>
  <% if can? :create, @category %>
    <%= link_to 'Create New Category', new_category_path, class: "btn btn-dark" %>
  <% end %>
</div>

